/* ============================
      Responsive codes 
============================ */

/* ============================
      IPad or Tablet styles
   ==================================*/
   @media only screen and (min-width:577px) and (max-width:980px) {
      .services{
         grid-template-columns: repeat(2,1fr);
         grid-gap:4rem;
         width: 100%;      
         justify-items: center;
   }
  .service{
   flex-direction: column;
   row-gap: 10px;
   justify-content: center;  
   text-align: center;

  }
  .service .feature-icon{
  width: 100%;  
  }
  .service .service-details{
  width: 100%;  
  }

    
      
   }





@media only screen and (max-width:576px){
   html{
      font-size: 45%;
   }
   .header{
      height: 576px;
          
   }
   .header{
      flex-direction: column;
      justify-content: space-around;
      padding-top: 20px ;
      padding-bottom: 20px;
      text-align: center;

   }
   .half_sec{
      width: 100%;
   }
   .half_sec img{
      width: 80%;
   }

   /* ====================
      services section 
      ====================*/
   .services{
           grid-template-columns: repeat(1,1fr);
           grid-row-gap: 4rem;
           width: 100%;      
           justify-items: center;
    }
    .service{
      width: 80%;
    }
}

