/* ============================
      Responsive codes 
============================ */

/*==========================================
      Medium type device 
         ========================================*/
@media screen and (min-width:757px) and (max-width:1080px) {
      html{
         font-size: 50%;
      }
      .service img, .laptop img, .mobile img{
         width: 75%;
         height: auto;
      } 
}

/* ============================
      IPad or Tablet styles
   ==================================*/
@media only screen and (min-width: 600px) and (max-width: 758px) {
   html {
      font-size:45%;
   }
   .header{
      height: 400px;
   }
   .services,.laptops,.mobiles{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;
      width: 100%;
      justify-items: center;
   }
   .service{
      flex-direction: column;
      row-gap: 10px;
      justify-content: center;
      text-align: center;
      width:90%;
   }
   .service .feature-icon {
      width: 100%;
   }
   .service .service-details {
      width: 100%;
   }
   .laptop,.mobile {
      width: 35rem
   }
   .laptop_part h3,.mobile_part h3{
      text-align: center;
   }
}

@media only screen and (max-width: 600px) {
   html {
      font-size: 45%;
   }
   .header {
      height: 576px;
   }
   .header {
      flex-direction: column;
      justify-content: space-around;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
   }
   .half_sec {
      width: 100%;
   }
   .half_sec img {
      width: 80%;
   }

   /* ====================
      services section 
      ====================*/
   .services,.laptops,.mobiles {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 4rem;
      width: 100%;
      justify-items: center;
   }
   .service {
      width:35rem ;
   }
   .laptop,.mobile{
      width: 35rem;
   }
   .laptop img,.mobile img{
      width: 70%;
   }
   .laptop_part h3,.mobile_part h3{
      text-align: center;
   }
   .updates-container{
      height: 13rem;
   }
   .updates-container input[type="email"]{
      width: 18rem;
      height: 3.8rem;
 }
}
