/* ---------------
   google fonts 
-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&display=swap");

/* -----------------
Universal selector 
------------------*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* ------------------
      Common-styles
      ------------------ */
body {
   font-family: "Oswald", sans-serif;
}
html {
   font-size: 62.5%;
}
.flexible {
   display: flex;
}
.half_sec {
   width: 50%;
}
img {
   width: 100%;
   height: auto;
}
h1,
h2,
h3,
h5,
h4,
h6 {
   font-weight: 700;
   text-transform: uppercase;
}

h1 {
   font-size: 5rem;
}
h2 {
   font-size: 4rem;
}
h3 {
   font-size: 3rem;
}
h4 {
   font-size: 2rem;
}
p {
   font-size: 2rem;
   font-weight: 300;
   line-height: 1.6em;
}
a {
   text-decoration: none;
}

.btn {
   padding: 1rem 2rem;
   display: inline-block;
   background: linear-gradient(to right, #ff6100, #ff9600);
   font-weight: 300;
   font-size: 1.6rem;
   color: #fff;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   margin: 2rem 0;
   transition: all 0.5s ease-in;
   -webkit-transition: all 0.5s ease-in;
   -moz-transition: all 0.5s ease-in;
   -ms-transition: all 0.5s ease-in;
   -o-transition: all 0.5s ease-in;
}
.btn:hover {
   margin-top: 1rem;
   letter-spacing: 0.1rem;
}
/* ---------------------
      Header section styles 
   -------------------- */
.header {
   background: #fff6e6;
   height: 500px;
   padding: 0 5rem;
   justify-content: center;
   align-items: center;
}

.header h4 {
   text-transform: capitalize;
   font-weight: 300;
}
.header h2 {
   font-weight: 300;
}
.header p {
   margin-top: 1rem;
   letter-spacing: 0.3rem;
}
.header .header_title .orange-text {
   color: #ffa500;
}
.header img {
   width: 100%;
   margin: 0 auto;
   display: block;
}
